<!-- Edit Modal HTML -->
<div id="update<%= produk._id; %>" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form action="/produk/update/<%= produk._id; %>" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Ubah Produk</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nama Produk</label>
                        <input class="form-control" type="text" id="name" placeholder="Nama Produk" name="name"
                               value="<%= produk.name; %>" required>
                    </div>
                    <div class="form-group">
                        <label for="desc">Deskripsi Produk</label>
                        <textarea class="form-control" id="desc" name="deskripsi" placeholder="Deskripsi Produk"
                                  required><%= produk.deskripsi; %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload Image</label>
                        <input type="file" id="image" class="form-control-file"
                               name="image" accept="image/*" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-success">Ubah</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="delete<%= produk._id; %>" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Hapus Produk</h4>
                    <button
                            class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah yakin ingin menghapus produk ini?</p>
                    <p class="text-warning"><small>Data yang dihapus tidak bisa dipulihkan.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <a type="button" class="btn btn-danger" href="/produk/delete/<%= produk._id; %>">Hapus</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Image Modal HTML -->
<div id="image<%= produk._id; %>" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Image</h4>
                    <button
                            class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col" style="margin-left: 9px">
                        <div class="col-md">
                            <img alt="Image Menu" style="width: 400px; height: 225px;"
                                 src="data:image/<%= produk.img.contentType; %>;base64,<%= produk.img.data.toString('base64'); %>">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>