<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploading</title>
</head>

<body>
<h1>To Upload Image on mongoDB</h1>
<hr>
<div>
    <form action="/dash" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Image Title</label>
            <input type="text" id="name" placeholder="Name"
                   value="" name="name" required>
        </div>
        <div>
            <label for="desc">Image Description</label>
            <textarea id="desc" name="deskripsi" value="" rows="2"
                      placeholder="Description" required>
				</textarea>
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image"
                   name="image" value="" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<hr>

<h1>Uploaded Images</h1>
<div>
    <% produks.forEach(function(produk) { %>
        <div>
            <div>
                <img src="data:image/<%= produk.img.contentType %>;base64,
					<%= produk.img.data.toString('base64') %>">
                <div>
                    <h5><%= produk.name %></h5>
                    <p><%= produk.deskripsi %></p>
                    <a href="/dash/delete/<%= produk._id %>">delete</a>
                    <a href="/dash/update/<%= produk._id %>">update</a>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</body>

</html>
