<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title><%= page.title; %></title>
        <!-- Favicon-->
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
              type="text/css"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/index.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" rel="stylesheet"/>
    </head>
    <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top"><%= page.title; %></a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#menu">Menu</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img style="width: 15rem;" alt="Logo"
                 src="data:image/<%= page.logo.contentType; %>;base64,<%= page.logo.data.toString('base64'); %>">
            <br>
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0"><%= page.header; %></h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                <%= page.subheader; %>
            </p>
        </div>
    </header>
    <!-- Menu Section-->
    <section class="page-section menu pb-5" id="menu">
        <div class="container">
            <!-- Menu Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Menu
            </h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Menu Grid Items-->
            <div class="row justify-content-center">
                <% if (produks.length > 0) { %>
                    <% produks.forEach(function(produk) { %>
                        <!-- Menu Item-->

                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="menu-item mx-auto" data-bs-toggle="modal"
                                 data-bs-target="#menu<%= produk._id; %>">
                                <div class="menu-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="menu-item-caption-content text-center text-white">
                                        <i class="fas fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img style="width: 400px; height: 225px;" alt="Menu"
                                     src="data:image/<%= produk.img.contentType; %>;base64,<%= produk.img.data.toString('base64'); %>">
                            </div>
                        </div>
                        <%- include fragment/menumodal.ejs %>
                    <% }); %>
                <% } %>
            </div>
        </div>
    </section>
    <!-- Blog Section-->
    <section class="page-section pt-5" id="blog">
        <div class="container">
            <!-- Menu Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Blog dan Artikel
            </h2>
            <!-- Icon Divider-->
            <div class="divider-custom pb-5 pb-md-3">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Blog Section Content-->
            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                    <% if (artikels.length > 0) { %>
                        <% artikels.forEach(function(artikel) { %>
                            <div class="blog-slider__item swiper-slide">
                                <div class="blog-slider__img">
                                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp"
                                         alt="">
                                </div>
                                <div class="blog-slider__content">
                                    <span class="blog-slider__code"><%= artikel.tanggal %></span>
                                    <div class="blog-slider__title"><%= artikel.judul %></div>
                                    <div class="blog-slider__text"><%- artikel.caption %>
                                    </div>
                                    <a href="/showArtikel/<%= artikel._id %>" class="blog-slider__button">READ MORE</a>
                                </div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <div class="blog-slider__pagination"></div>
            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">
                About
            </h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-12 ms-auto text-center">
                    <p class="lead"><%= page.about; %></p>
                    <p class="lead">
                        <br/>
                        <br/>
                        Klik tombol whatsapp di bawah ini untuk memesan katering WAnong
                        melalui whatsapp
                    </p>
                </div>
            </div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-outline-light btn-social-wa mx-1" href="#!">
                    <i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer text-center" id="contact">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-6 mb-7 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Alamat</h4>
                    <p class="lead mb-0">
                        <%= page.alamat; %>
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-6 mb-7 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Pemesanan Hubungi</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; <%= page.title; %> 2021</small>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="javascripts/index.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
